body {
  background-color: #fafafa;
  padding: 50px; 
}

p {
  color: #5D5D5D;
}

h1 {
  color: #5D5D5D;
  text-transform: uppercase;
}

input {
  height: 30px;
  font-size: 18px;
  line-height: 20px;
  margin-top: 5px;
  padding-left: 10px;
  width: 270px;
}

th, td{
  border: 1px solid #5d5d5d;
  border-collapse: collapse;
  padding: 5px 10px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4d4d4d;
    color: white;
}

.SubmitButton {
  height: 40px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  width: 276px;
  text-transform: uppercase;
  background-color: #3DBD89;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 36px;
  margin: 0 20px 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
  .SubmitButton-red {
    background-color: #F78181;
  }
  .SubmitButton:hover {
    opacity: 0.9;
  }

.Content {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px 30px 100px 30px;
}

.Error {
  background-color: #F78181;
  color: #FFFFFF;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.ExpectedPayments {
  margin-bottom: 30px;
}

.CompensationTable {
  margin-bottom: 30px;
}

.Formula {
  margin-left: 20px;
}

.FormulaVariable {
  font-size: 20px;
  font-weight: 600;
  color: #3DBD89;
}
  .FormulaVariable.black {
    color: #000000;
  }

.PayeeInfo {
  display: inline-block;
  width: 130px;
}

.Restart {
  margin-top: 30px;
}

.FlexBox {
  display: flex; display: -webkit-flex; 
  justify-content: space-between; -webkit-justify-content: space-between;

}

@media only screen and (max-width: 800px) {

  body {
    padding: 20px;
  }

}