{% extends 'base.html' %}
{% block content %}
<div class="Content">
  <div class="FlexBox">
    {% if language == 'english' %}
      <h1>View Your Compensation Payment</h1>
    {% else %}
      <h1 class="Title">Gade peman konpansasyon ou</h1>
    {% endif %}
    {% if error_message %}
    <div class="Error">{{ error_message }}</div>
    {% endif %}
  </div>
  {% include 'addins/compensation_form.html' %}
</div> 
<div class="KolektifLabel">&#169; Kolektif Peyizan Viktim Tè Chabè</div>
{% endblock %}


