{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="Main">
  <div class=title>
    {% if language == 'english' %}
      <h1>View Your Compensation Payment</h1>
    {% else %}
      <h1 class="Title">Gade peman konpansasyon ou</h1>
    {% endif %}
    {% if error_message %}
    <div class="Error">{{ error_message }}</div>
    {% endif %}
  </div>
  <div class="PaymentPage">
    <div class="FlexBox">
      <div class="PaymentInfo">
        <div class="ExpectedPayments">
          <h2 style="padding-bottom: 20px;">Peman espere yo pou: {{ comppackage.name }}</h2>
        
          <div class="Formula"> 
           <p>Pèt rekòt: <span class="Formula--media">$1,450 x <span class="FormulaVariable-blue">{{ comppackage.land_area }}</span> ekta = <strong>$ {{ comppackage.get_loss_of_harvest_compensation|intcomma }}</strong></span></p>
          </div>
          <div class="Formula"> 
            <p>Sekirite alimantè: <span class="Formula--media">$80 x <span class="FormulaVariable-red">{{ comppackage.num_family }}</span> moun ki te viv nan kay la = <strong>$ {{ comppackage.get_num_family_compensation|intcomma }}</strong></span></p>
          </div>
          <div class="Formula"> 
            <p>Konpansasyon final: <span class="Formula--media">$1,450 x <span class="FormulaVariable-blue">{{ comppackage.land_area }}</span> ekta x 5 ane x 1.1725 endikatè lavi chè a = <span class="Formula--media"><strong>$ {{ comppackage.get_final_compensation|intcomma }}</strong></span></span></p>
          </div>
        </div>
        <table class="table FooTable">
          <thead>
            <tr>
              <th>Dat</th>
              <th data-breakpoints="xs">Pèt rekòt</th>
              <th data-breakpoints="xs">Sekirite alimantè</th>
      <!--         <th data-breakpoints="xs">Envestisman ki fèt sou teren an</th> -->
              <th data-breakpoints="xs">Konpansasyon final</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in payment_dict.iteritems %}
             <tr>
              <td>{{ key }}</td>
              <td>{% for payment in value.payments %}{% if payment.payment_type == 'lost_harvest' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td>
              <td>{% for payment in value.payments %}{% if payment.payment_type == 'food_security' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td>
      <!--         <td>{% for payment in value.payments %}{% if payment.payment_type == 'improvements' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td> -->
              <td>{% for payment in value.payments %}{% if payment.payment_type == 'final_compensation' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td>
              <td>$ {{ value.total|intcomma }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      <div>
        <form action="" method="post" class="FormBox" style="max-width:370px">
          {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10 input-group mb-3">
              {{ form.name }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Laj</label>
            <div class="col-sm-5 input-group mb-3">
              {{ form.age }}
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">ane</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Kantite tè a te ye a</label>
            <div class="col-sm-5 input-group mb-3">

              {{ form.land_area }} <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">ekta</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Moun ki te viv nan kay la</label>
            <div class="col-sm-5 input-group mb-3">
              {{ form.num_family }} <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">moun</span>
              </div>
            </div>
          </div>
          <p><input type="submit" class="btn btn-success btn-lg btn-block" value="Transmèt"></p>
        </form>
      </div>
    </div>

    
    <a href="{% url 'verify-compensation' package_id=comppackage.id language='kreyol' %}" class="btn btn-success btn-lg VerifyButton">Kòrèk</a>
    <a href="{% url 'wrong-compensation' package_id=comppackage.id language='kreyol' %}" class="btn btn-danger btn-lg VerifyButton">Fo</a>
    <div class="Restart">
      <a href="{% url 'start'%}">Rekòmanse</a>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    jQuery(function($){
      $(".FooTable").each(function() {
        $( this ).footable();
      }); 
    });
  </script>
{% endblock %}

