{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="Bio">
  <form action="" method="post">
    {% csrf_token %}
  <p><span class="PayeeInfo">Nom: </span><span class="FormField">{{ form.name }}</span></p>
  <p><span class="PayeeInfo">Laj: </span><span class="FormField">{{ form.age }}</span></p>
<!--   <p><span class="PayeeInfo">CIN: </span>{{ package.tax_id }}</p> -->
  <p><span class="PayeeInfo">Gwosè tè ki afekte: </span><span class="FormulaVariable FormField">{{ form.land_area }}</span> hectares</p>
  <p><span class="PayeeInfo">Kantite moun ki te viv nan kay la: </span><span class="FormulaVariable-blue FormField">{{ form.num_family }}</span></p>
  <input type="submit" class="SubmitButton" value="Transmét">
  </form>
</div>
  <div class="ExpectedPayments">
    <p><strong>Peman espere yo</strong></p>
  
    <div class="Formula"> 
     <p>Pèt rekòt: $1,450 x <span class="FormulaVariable">{{ comppackage.land_area }}</span> hectares = <strong>$ {{ comppackage.get_loss_of_harvest_compensation|intcomma }}</strong></p>
    </div>
    <div class="Formula"> 
      <p>Sekirite manje: $80 x <span class="FormulaVariable-blue">{{ comppackage.num_family }}</span> moun ki te viv nan kay la = <strong>$ {{ comppackage.get_num_family_compensation|intcomma }}</strong></p>
    </div>
    <div class="Formula"> 
      <p>Konpansasyon final: $1,450 x <span class="FormulaVariable">{{ comppackage.land_area }}</span> hectares x 5 ane x 1.1725 kalkil enflasyon an = <strong>$ {{ comppackage.get_final_compensation|intcomma }}</strong></p>
    </div>
  </div>
  <p><strong>Verifye peman yo: </strong></p>

  <table class="CompensationTable FooTable">
    <thead>
      <tr>
        <th>Dat</th>
        <th data-breakpoints="xs">Pèt rekòt</th>
        <th data-breakpoints="xs">Sekirite manje</th>
        <th data-breakpoints="xs">Envestisman ki fèt sou teren an</th>
        <th data-breakpoints="xs">Konpansasyon final</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in payment_dict.iteritems %}
       <tr>
        <td>{{ key }}</td>
        <td>{% for payment in value.payments %}{% if payment.payment_type == 'lost_harvest' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td>
        <td>{% for payment in value.payments %}{% if payment.payment_type == 'food_security' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td>
        <td>{% for payment in value.payments %}{% if payment.payment_type == 'improvements' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td>
        <td>{% for payment in value.payments %}{% if payment.payment_type == 'final_compensation' %}${{ payment.value|intcomma }}{% endif %}{% endfor %}</td>
        <td>$ {{ value.total|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
  <a href="{% url 'verify-compensation' package_id=comppackage.id language='kreyol' %}" class="SubmitButton">Kòrèk</a>
  <a href="{% url 'wrong-compensation' package_id=comppackage.id language='kreyol' %}" class="SubmitButton SubmitButton-red">Fo</a>
  <div class="Restart">
    <a href="{% url 'start'%}">Rekòmanse</a>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    jQuery(function($){
      $(".FooTable").each(function() {
        $( this ).footable();
      }); 
    });
  </script>
{% endblock %}

