<!DOCTYPE html>
<html lang='en'>
{% load staticfiles %}
{% load humanize %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ title|default:"Compensation Check" }}</title>
  <link rel="stylesheet" href="{% static 'css/footable.standalone.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'js/footable.js' %}"></script>
</head>
<body>
  <div class="Content">
    <div class=FlexBox>
      {% if language == 'english' %}
        <h1>View Your Compensation Payment</h1>
      {% else %}
        <h1>Gade peman konpansasyon ou</h1>
      {% endif %}
      <div class="LanguageToggle">
        {% if request.resolver_match.url_name == 'farmer-input' %}
        <a href="{% url request.resolver_match.url_name language=other_language %}">
        {% else %}
        <a href="{% url request.resolver_match.url_name package_id=package.id language=other_language %}">
        {% endif %}
        {{ other_language|title }}</a> | <strong>{{ language|title }}</strong>

      </div>

    </div>
    {% block content %}
    {% endblock %}
  </div>
  {% block javascript %}
  {% endblock %}
</body>
</html>


