<!DOCTYPE html>
<html lang='en'>
{% load staticfiles %}
{% load humanize %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ title|default:"Compensation Check" }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/footable.standalone.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'js/footable.js' %}"></script>
</head>
<body>
  {% block content %}
  {% endblock %}

  {% block javascript %}
  {% endblock %}
</body>
</html>


