{% extends 'base.html' %}

{% block content %}
  {% if error_message %}
  <div class="Error">{{ error_message }}</div>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <label>Please enter your tax ID number.</label>

    <div>
      <input type="text" placeholder="Ex: 01-85-99-1998-18-00-001" name="tax_id">
    </div>
    <p><input type="submit" class="SubmitButton" value="Submit"></p>
    <a href="{% url 'farmer-input' %}" class="KreyolButton">Kreyol: Kreyol</a>
  </form>
{% endblock %}


